body{
    /* background: url(images/ticfrontimage.jpg); */
    background-repeat: no-repeat;
    /* width: auto; */
    /* height: 0; */
    height: auto;
    max-width: 100%;
}

h4{
    font-size: 47px;
    text-align: center;

}

/* Starting of NAvbar */

.navbar{
    background-color: rgb(77, 77, 84);
    border-radius: 36px;
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 12px 15px;
    color: white;
}

.navbar li a{
    /* padding: 3px 3px; */
    text-decoration: none;
    color: white;
}

.login{
    float: right;
    color: white;
    padding: 12px 175px;
}



/* End of NAvbar */


div{

    align-items: center;
}

.container {
    position: relative;
}

.container_0{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.container_0 {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.container_0 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
    border-inline: 20;
}

.container_0 .btn:hover {
    background-color: lightcyan;
    color: white;
}



/* Two Player Type 1 */

.container_1 {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* .container img {
    width: 100%;
    height: auto;
  } */

.container_1 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 30%;
}

.container_1 .btn:hover {
    background-color: lightcyan;
    color: white;
    text-decoration: none;
}



/* type 2 */
.container_2 {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-decoration: none;
    margin: auto;
  }
  
  /* .container img {
    width: 100%;
    height: auto;
  } */
  
  .container_2 .btn {
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 50%;
  }
  
  .container_2 .btn:hover {
    background-color: lightcyan;
    color: white;
  }



/* type 3 4 Multiplayer */
.container_3 {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-decoration: none;
    margin: auto;
  }
  
  /* .container img {
    width: 100%;
    height: auto;
  } */
  
  .container_3 .btn {
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 57px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 70%;
  }
  
  .container_3 .btn:hover {
    background-color: lightcyan;
    color: white;
  }






      /*     Media Queries (Phone/Mobile)      */

      /* @media  screen and (max-width: 600px)  {
        .container{
            width: 94%;
        }

        .navbar{
            right: 3%;
        }
      } */